
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/inicio">CodeComparator</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">

				<li class="dropdown"><a href="#" id="perfil"
					class="dropdown-toggle" data-toggle="dropdown"> Fanny Sobero<b
						class="caret"></b>
				</a>

					<ul class="dropdown-menu">
						<li><a href="#/cambiarPass">Cambiar contraseña</a></li>

						<li><a href="#/login">Cerrar Sesión</a></li>
					</ul></li>
			</ul>

		</div>
		<!--/.navbar-collapse -->
	</div>
</div>


<div class="container">
        

    	<h1 class="page-header">Registrar curso</h1>
    	<form class="form-horizontal well" action="" method="post" role="form">
    	<div class="row form-group">
    		<div class="col-md-6">
					<label class="col-md-5 control-label">Nombre del curso</label>
					<div class="col-md-7">
						<input type="text" name="t_nombre" class="form-control">
					</div>
				</div>
    		
    	</div> 
         <div class="row form-group">
    		<div class="col-md-6">
					<label class="col-md-5 control-label">N° de Grupo</label>
					<div class="col-md-3">
						<select id="tipo_doc" name="n_grupo" class="form-control">
                          <option>01</option>
                          <option>02</option>
                          <option>03</option>
                     </select>
					</div>
				</div>
    		
    	</div> 
    	<hr>
    	<div class="form-actions" style="text-align: center;">
            <button type="submit" class="btn btn-primary left">Guardar</button>
            <button type="reset" class="btn btn-default left">Cancelar</button>
        </div>

    	</form>
      
    	<table class="table table-bordered">
               <thead>
                 <tr>
                 	<th>Curso</th>
                 	<th>Grupo</th>
                 	<th>Eliminar</th>
                 </tr>
               </thead>
               <tbody>
               
               	<tr>
                   <td>Programacion I</td>
                   <td>01</td>
                   <td><a href="#" class="btn  btn-danger" data-toggle="modal" data-target="#2"><span class="glyphicon glyphicon-trash"></span></a></td>
               	</tr>
                
               		
               </tbody>
    	</table>
      
<div class="modal fade" id="2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Mensaje</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <p>¿Esta seguro de eliminar el Curso?</p>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>  
        <a type="button" href="#" class="btn btn-primary">Si</a>        
      </div>
    </div>
  </div>
</div>

  
    </div>