<!DOCTYPE html>
<html ng-app="AngularSpringApp">
<head>
<meta charset="utf-8">
<title>Codecomparator</title>
<link rel="stylesheet" href="resources/css/app.css" />
<link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div>
		<h1>Hola desde el index.html</h1>
		<hr class="" />
		<div ng-view></div>
	</div>
	<script src="resources/js/lib/angular.js"></script>
	<script src="resources/js/app/app.js"></script>
	<script src="resources/js/app/services.js"></script>
	<script src="resources/js/app/controllers/LoginController.js"></script>
	<!-- 	<script src="resources/js/controllers/CarController.js"></script> -->
	<!-- 	<script src="resources/js/controllers/TrainController.js"></script> -->
	<script src="resources/js/app/filters.js"></script>
	<script src="resources/js/app/directives.js"></script>
</body>
</html>