
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/comparacion">CodeComparator</a>
        </div>
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#/inicio">Inicio</a></li>
         
          <li>
          <a href="#/alumno"><div title="Registro de alumnos">Alumno</div></a>          
          </li>
          
          <li>
          <a href="#/curso"><div title="Registro de cursos">Curso</div></a>          
          </li>
                     
          <li><a href="#/comparacion"><div title="Comparación de proyectos">Comparación de Proyectos</div></a>
             
          </li>
          <li><a href="#/historial"><div title="Ver historial de comparaciones">Historiales</div></a></li>

        </ul>
         <ul class="nav navbar-nav navbar-right">
          
          <li class="dropdown">
                  <a href="#" id="email" class="dropdown-toggle" data-toggle="dropdown">Xtreme<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/cambiarPass">Cambiar contraseña</a></li>
                                
                                <li><a href="#/login">Cerrar Sesión</a></li>
                            </ul>
                        </li>
         </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
    


<div class="container">
        
      
<br>		
		<form class="form-horizontal" method="post" role="form">
		<div class="row form-group">
		      <div class="col-md-6">
			     <label class="col-md-5 control-label" style="margin-left: -31%;">Curso</label>
			    <div class="col-md-5">
				   <select class="form-control" name="t_curso" id="cursos">
				   
				   
                    
                   
                   <option>Seleccione curso</option><option>Programacion I</option></select>

			</div>
		</div> 		
		</div>
			<div class="row form-group" id="grupos">
		       	
		</div>
		
		<h3 class="page-header">Registrar alumno</h3>
		<div class="highlight">
			<div class="row form-group">
			<div class="col-md-6">
				<label class="col-md-5 control-label">Código</label>
				<div class="col-md-7">
				<input type="text" id="codigo" name="t_codigo" class="form-control">
			</div>

			</div>

		</div>
		<div class="row form-group">
			 <div class="col-md-6">
           	 <label class="col-md-5 control-label">Nombre</label>
           	 <div class="col-md-7">
           	 	<input type="text" id="nombre" name="t_nombre" class="form-control">
           	 </div>
           </div>
           
		</div>
    <div class="row form-group">
       <div class="col-md-6">
             <label class="col-md-5 control-label">Apellido paterno</label>
             <div class="col-md-7">
              <input type="text" id="ap_paterno" name="t_apellido_paterno" class="form-control">
             </div>
           </div>
           
    </div>
    <div class="row form-group">
    	<div class="col-md-6">
             <label class="col-md-5 control-label">Apellido materno</label>
             <div class="col-md-7">
              <input type="text" id="ap_materno" name="t_apellido_materno" class="form-control">
             </div>
           </div>
    </div>
		<hr>
		<div class="form-actions" style="text-align: center;">
            <a href="#" id="save_alum" class="btn btn-primary left">Guardar</a>
            <button type="reset" class="btn btn-default left">Cancelar</button>
        </div>

		</div>
		
        <div class="alert alert-success">
   <strong style="display: block;text-align: center;">Registro exitoso</strong>
    </div>
		</form>	
		<br>
		<div id="list_alumnos">
			

		</div>


    </div>