<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/inicio">CodeComparator</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">

				<li class="dropdown"><a href="#" id="perfil"
					class="dropdown-toggle" data-toggle="dropdown"> Fanny Sobero<b
						class="caret"></b>
				</a>

					<ul class="dropdown-menu">
						<li><a href="#/cambiarPass">Cambiar contraseña</a></li>

						<li><a href="#/login">Cerrar Sesión</a></li>
					</ul></li>
			</ul>

		</div>
		<!--/.navbar-collapse -->
	</div>
</div>



<div class="container">
	<h1 class="page-header">Comparación de proyectos</h1>
	<form class="form-horizontal" role="form">
		<div class="row form-group">
			<div class="col-md-6">
				<label class="col-md-4 control-label">Evaluación</label>
				<div class="col-md-8">
					<!-- <select class="form-control">
<option>09/05/14 Algoritmica 02 - Grupo 1:Punteros</option>
<option>09/05/14 Algoritmica 02 - Grupo 2:Punteros</option>
<option>18/05/14 Programacion 02 - Grupo 1:Listas</option>
<option>18/05/14 Programacion 01 - Grupo 3:Archivos</option>
</select> -->
					<select ng-model="evaluacionSeleccionada"
						ng-options="formatearEvaluacion(evaluacion) for evaluacion in evaluaciones"
						ng-change="poblarPosiciones(evaluacionSeleccionada)"
						class="form-control">
						<option value="">Escoja una evaluación</option>
					</select>

				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-6">
				<label class="col-md-4 control-label">Tipo de Comparación</label>
				<div class="col-md-8">
					<select ng-model="comparacionSeleccionada"
						ng-options="tipo.llave for tipo in tiposComparacion"
						class="form-control"></select>
					<!-- <select class="form-control">
<option>Comparaciï¿½n de adyacencia</option>
<option>Comparaciï¿½n de 1 con varios</option>

</select> -->
				</div>
			</div>
		</div>
		<br>
		<!--<span style="color:red;">(Puede seleccionar maximo 5 alumnos para comparar)</span>-->
		<div ng-show="state==1" class="row highlight botones-clase">
			<div class="col-md-8">
				<br>
				<div class="row">
					<div class="col-md-3" ng-model="i">
						<button id="i" class="btn btn-primary header_botom active"
							title="{{i.alumno.t_nombre}} {{i.alumno.t_apellido_paterno}} {{i.alumno.t_apellido_materno}}"
							ng-click="agregarElegido(i,'i')">{{i.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="ii">
						<button id="ii" class="btn btn-primary header_botom active"
							title="{{ii.alumno.t_nombre}} {{ii.alumno.t_apellido_paterno}} {{ii.alumno.t_apellido_materno}}"
							ng-click="agregarElegido(ii,'ii')">{{ii.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="iii"
						title="{{iii.alumno.t_nombre}} {{iii.alumno.t_apellido_paterno}} {{iii.alumno.t_apellido_materno}}">
						<button id="iii" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(iii,'iii')">{{iii.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="iv"
						title="{{iv.alumno.t_nombre}} {{iv.alumno.t_apellido_paterno}} {{iv.alumno.t_apellido_materno}}">
						<button id="iv" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(iv,'iv')">{{iv.alumno.t_codigo}}</button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3" ng-model="v"
						title="{{v.alumno.t_nombre}} {{v.alumno.t_apellido_paterno}} {{v.alumno.t_apellido_materno}}">
						<button id="v" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(v,'v')">{{v.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="vi"
						title="{{vi.alumno.t_nombre}} {{vi.alumno.t_apellido_paterno}} {{vi.alumno.t_apellido_materno}}">
						<button id="vi" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(vi,'vi')">{{vi.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="vii"
						title="{{vii.alumno.t_nombre}} {{vii.alumno.t_apellido_paterno}} {{vii.alumno.t_apellido_materno}}">
						<button id="vii" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(vii,'vii')">{{vii.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="viii"
						title="{{viii.alumno.t_nombre}} {{viii.alumno.t_apellido_paterno}} {{viii.alumno.t_apellido_materno}}">
						<button id="viii" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(viii,'viii')">{{viii.alumno.t_codigo}}</button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3" ng-model="ix"
						title="{{ix.alumno.t_nombre}} {{ix.alumno.t_apellido_paterno}} {{ix.alumno.t_apellido_materno}}">
						<button id="ix" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(ix,'ix')">{{ix.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="x"
						title="{{x.alumno.t_nombre}} {{x.alumno.t_apellido_paterno}} {{x.alumno.t_apellido_materno}}">
						<button id="x" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(x,'x')">{{x.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="xi"
						title="{{xi.alumno.t_nombre}} {{xi.alumno.t_apellido_paterno}} {{xi.alumno.t_apellido_materno}}">
						<button id="xi" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(xi,'ix')">{{xi.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="xii"
						title="{{xii.alumno.t_nombre}} {{xii.alumno.t_apellido_paterno}} {{xii.alumno.t_apellido_materno}}">
						<button id="xii" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(xii,'xii')">{{xii.alumno.t_codigo}}</button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3" ng-model="xiii"
						title="{{xiii.alumno.t_nombre}} {{xiii.alumno.t_apellido_paterno}} {{xiii.alumno.t_apellido_materno}}">
						<button id="xiii" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(xiii,'xiii')">{{xiii.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="xiv"
						title="{{xiv.alumno.t_nombre}} {{xiv.alumno.t_apellido_paterno}} {{xiv.alumno.t_apellido_materno}}">
						<button id="xiv" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(xiv,'xiv')">{{xiv.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="xv"
						title="{{xv.alumno.t_nombre}} {{xv.alumno.t_apellido_paterno}} {{xv.alumno.t_apellido_materno}}">
						<button id="xv" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(xv,'xv')">{{xv.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="xvi"
						title="{{xvi.alumno.t_nombre}} {{xvi.alumno.t_apellido_paterno}} {{xvi.alumno.t_apellido_materno}}">
						<button id="xvi" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(xvi,'xvi')">{{xvi.alumno.t_codigo}}</button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3" ng-model="xvii"
						title="{{xvii.alumno.t_nombre}} {{xvii.alumno.t_apellido_paterno}} {{xvii.alumno.t_apellido_materno}}">
						<button id="xvii" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(xvii,'xvii')">{{xvii.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="xviii"
						title="{{xviii.alumno.t_nombre}} {{xviii.alumno.t_apellido_paterno}} {{xviii.alumno.t_apellido_materno}}">
						<button id="xviii" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(xviii,'xviii')">{{xviii.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="xix"
						title="{{xix.alumno.t_nombre}} {{xix.alumno.t_apellido_paterno}} {{xix.alumno.t_apellido_materno}}">
						<button id="xix" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(xix,'xix')">{{xix.alumno.t_codigo}}</button>
					</div>
					<div class="col-md-3" ng-model="xx"
						title="{{xx.alumno.t_nombre}} {{xx.alumno.t_apellido_paterno}} {{xx.alumno.t_apellido_materno}}">
						<button id="xx" class="btn btn-primary header_botom active"
							ng-click="agregarElegido(xx,'xx')">{{xx.alumno.t_codigo}}</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">

				<button type="button" class="btn btn-default"
					style="margin-top: 13%; margin-left: 28%;" ng-click="comparar()">
					<span class="glyphicon glyphicon-ok-sign"></span> Comparar
				</button>
				<button ng-show="botonReporte==1" type="button"
					class="btn btn-success" style="margin-top: 11%; margin-left: 30%;"
					ng-click="verReporte()">
					<span class="glyphicon glyphicon-download-alt"></span>Ver reporte

				</button>
			</div>
		</div>


		<!-- segundo div -->

		<div ng-show="state==2" class="row highlight botones-clase"
			style="height: 290px;">

			<row>
			<div class="col-md-6 btn-danger">Primer Archivo</div>
			<div class="col-md-6 btn-danger">Segundo Archivo</div>
			</row>

			<row>
			<div class="col-md-6 ">{{resultados.charResults[0][0].codeFirstProyect.nombre}}</div>
			<div class="col-md-6 ">{{resultados.charResults[0][0].codeSecondProyect.nombre}}</div>
			</row>


			<row>
			<div class="col-md-6 btn-danger">Contenido</div>
			<div class="col-md-6 btn-danger">Contenido</div>
			</row>

			<row>
			<div class="col-md-6">{{resultados.charResults[0][0].codeFirstProyect.contenido}}</div>
			<div class="col-md-6">{{resultados.charResults[0][0].codeSecondProyect.contenido}}</div>
			</row>
			<br />
			<row class="row">

			<div class="col-md-12 btn-danger">Resultados</div>
			</row>
			<row> <!-- <div class="col-md-6">{{resultados.charResults[0].fdtw}}</div>-->
			<div title="Estado: Alta similaridad" class="col-md-8 btn-info"
				style="width: 100%; height: 22px;">100% Similaridad</div>
			</row>
			<!-- Resultados<br />
<table ng-repeat="res in resultados">
<tr ng-repeat="char in res.chaResults">
<td>{{char.nameFirstProyect}}</td>
<td>{{char.nameSecondProyect}}</td>
</tr>
<tr>{{res.fdtw}}</tr>
</table>-->

		</div>

	</form>

</div>