
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/comparacion">CodeComparator</a>
        </div>
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#/inicio">Inicio</a></li>
          
          <li>
          <a href="#/alumno">Alumno</a>          
          </li>
          
          <li>
          <a href="#/curso">Curso</a>          
          </li>
          
           
          <li><a href="#/comparacion">Comparación de Proyectos</a>
             
          </li>
          <li><a href="#/historial">Historiales</a></li>

        </ul>
         <ul class="nav navbar-nav navbar-right">
          
          <li class="dropdown">
                  <a href="#" id="email" class="dropdown-toggle" data-toggle="dropdown">Xtreme<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/cambiarPass">Cambiar contraseña</a></li>
                                
                                <li><a href="#/login">Cerrar Sesión</a></li>
                            </ul>
                        </li>
         </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
    
        <div class="container">
        
    
    <br>
    <br>
    <input type="text" class="form-control" style="width:20%;" placeholder="Buscar...">
    <br>
    <table class="table table-bordered">
      <thead>
    	<tr>
    		<th>Alumno</th>
    		<th>Curso</th>
    		<th>Grupo</th>
    		<th>Fecha de comparacion</th>
    		<th>Detalle</th>
    	</tr>
      </thead>
      <tbody>
   	 <tr>
   	 	<td>Danilo Carranza Chiara</td>
   	 	<td>Programacion I</td>
   	 	<td>Grupo I</td>
   	 	<td>12/05/2013      <span class="hour_posi">20:00</span></td>   	 	
   	 	<td><button class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button></td>
   	 </tr>
   	 <tr>
   	 	<td>Daneri Beltran </td>
   	 	<td>Programacion II</td>
   	 	<td>Grupo II</td>
   	 	<td>12/09/2013      <span class="hour_posi">13:00</span> </td>   	 	
   	 	<td><button class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button></td>
   	 </tr>
   	 <tr>
   	 	<td>Manuel Lucero Avila</td>
   	 	<td>Estructura de Datos II</td>
   	 	<td>Grupo I</td>
   	 	<td>12/12/2013    <span class="hour_posi">15:00</span></td>   	 	
   	 	<td><button class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button></td>
   	 </tr>
   	 <tr>
   	 	<td>Jose Hinojoza Acevedo</td>
   	 	<td>Base de Datos II</td>
   	 	<td>Grupo I</td>
   	 	<td>12/11/2013        <span class="hour_posi">17:00</span></td>   	 	
   	 	<td><button class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button></td>
   	 </tr>
      </tbody> 	

    </table>

    </div>
        
    
